# Godot 4+ specific ignores
.godot/
## ignore builds
## TODO fix this ignore to only target .exe files related to the builds of this game
*.exe


# fix some weird Godot bug that errors my little PC
.sln



# ignore helper scripts
Helper Scripts/

# ignore all drawing files
*.kra

## ignore autosave drawing files
*.kra~
*.png~